html,
body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.logo {
  width: 250px;
  height: auto;
}

wa-page {
  --menu-width: 15rem;
  --aside-width: 15rem;
}
wa-page[view='desktop'] {
  [slot*='navigation'] {
    border-inline-end: var(--wa-border-width-s) var(--wa-border-style)
      var(--wa-color-surface-border);
  }
}
wa-page[view='mobile'] {
  --menu-width: auto;
  --aside-width: auto;
}

[slot='banner'] {
  --wa-color-text-link: var(--wa-color-neutral-on-loud);
  background-color: var(--wa-color-neutral-fill-loud);
}
[slot='header'] {
  --wa-link-decoration-default: none;
  border-block-end: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);
}
[slot*='header'] a {
  font-weight: var(--wa-font-weight-action);
}
[slot='subheader'] {
  background-color: var(--wa-color-surface-lowered);
  border-block-end: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);
}
[slot='navigation-header'] {
  border-block-end: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);
}

[slot*='navigation'] a {
  --wa-color-text-link: var(--wa-color-text-normal);
}
[slot='navigation-footer'] {
  border-block-start: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);

  .wa-flank {
    --flank-size: 1.25em;
  }
}
[slot='main-header'],
main,
[slot='main-footer'] {
  max-inline-size: 60rem;
  margin-inline: auto;
}
[slot='main-footer'] {
  border-block-start: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);
}
[slot='footer'] {
  --wa-color-text-link: var(--wa-color-text-quiet);
  background-color: var(--wa-color-surface-lowered);
  font-size: var(--wa-font-size-s);
}

.cart-btn {
  background-color: none !important;
  margin: 0 auto;
}

h2#mugs,
h2#tech {
  margin-top: 40px;
}

wa-card {
  transition: transform 0.2s ease;
}

wa-card:hover {
  transform: scale(1.05);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
